.header img{
    width: 200px;
    margin: 0 23px 0px 17px;
}

.header a{
    height: 23px;
}

.header{
    z-index: 1;
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;


}