.app_wrapper{
    height: 100vh;
    overflow: auto;
    background-color: #edeef0;
}

.page_wrapper{
    display: flex;
}

.navbar_wrapper{
    position: absolute;
    top: 61px;
    background-color: #fafbfc;
    height: calc(100vh - 61px);
}


.content_wrapper{
    z-index: 0;
    position: relative;
    left: 120px;
    margin: 80px auto 20px auto;
    width: 900px;
    height: auto;
    border-radius: 5px;
    background-color: white;
}






